.libs/
build/
modules/
autom4te.cache/
*.lo
*.la
.deps
acinclude.m4
aclocal.m4
config.*
configure*
Makefile*
run-tests.php

install-sh
libtool
missing
mkinstalldirs

ext/grpc/ltmain.sh
composer.lock
vendor/

*.pb.php
*_grpc_pb.php

# ignore generated code
tests/generated_code/GPBMetadata/*
tests/generated_code/Math/*
tests/interop/GPBMetadata/*
tests/interop/Grpc/*
